<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix SA</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <script src="../javascript/contact.js"></script>
    </head>
    <body>
        <section id="sidebar">
            <input type="text" id="search" name="search" placeholder="search" />
            <button type="submit">
                <img src="../assets/search-bottom.png" width="10">
            </button>
            <div class="nav-buttons">
                <button class="log-in">
                    <a href=login.html>
                        Log in
                    </a>
                </button>
                <button class="sign-up">
                    <a href=employee-signup.html>
                        Sign Up
                    </a>
                </button>
            </div>
            <nav>
                <ol>
                    <div class="menu-sidebar">
                        <li class="menu-border">
                            MENU
                        </li>
                        <li>
                            <a href="#homepage">
                                Homepage
                            </a>
                        </li>
                        <li>
                            <a href="#generic">
                                Features
                            </a>
                        </li>
                        <li>
                            <a href="#contact-us">
                                Why Trackgenix
                            </a>
                        </li>
                        <li>
                            <a href="#contact-us">
                                Contact Us
                            </a>
                        </li>
                    </div>
                    <div>
                        <li class="get-in-touch-border">
                            <a href="#get-in-touch">
                                GET IN TOUCH
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.outlook.com">
                                mailinfo@trackgenix.com
                            </a>
                            <div>
                            123-456789
                            </div>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com.ar/maps">
                                123 fake road #2000 Rosario, Argentina
                            </a>
                        </li>
                    </div>
                </ol>
            </nav>
        </section>
        <header>
            <h1>
                Trackgenix SA
            </h1>
        </header>
        <main>
            <section class="what-is-trackgenix">
                <div>
                    <h2>
                        What is Trackgenix
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius debitis hic rerum quaerat? 
                        Exercitationem doloremque, esse dolor illo accusamus repudiandae id totam voluptates magni 
                        dolorum sunt tempore! Voluptatem, in sapiente.
                    </p>
                </div>
                <div>
                    <img src="../assets/img-what-is-trackgenix.png" />   
                </div>         
            </section>
            <section class="our-history">
                <div>
                    <h2>
                        Our history
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius debitis hic rerum quaerat? 
                        Exercitationem doloremque, esse dolor illo accusamus repudiandae id totam voluptates magni 
                        dolorum sunt tempore! Voluptatem, in sapiente.
                    </p>
                    <span>
                        Learn more
                    </span>
                </div>
                <div>    
                    <img src="../assets/img-our-history.png" />
                </div>
            </section>
            <section class="features">
                <h3 class="generic">
                    FEATURES
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ab tenetur laborum iusto
                    expedita similique quas eaque, non, corporis corrupti nisi voluptatem sint ex placeat 
                    voluptas dignissimos dolorum sequi fugiat.
                </p>
                <ul>
                    <li>
                        Item 1: loremp ipsum is simply dummy text of the printin
                    </li>
                    <li>
                        Item 2: loremp ipsum is simply dummy text of the printin
                    </li>
                    <li>
                        Item 3: loremp ipsum is simply dummy text of the printin
                    </li>
                    <li>
                        Item 4: loremp ipsum is simply dummy text of the printin
                    </li>
                    <li>
                        Item 5: loremp ipsum is simply dummy text of the printin
                    </li>
                </ul>
            </section>
            <section class="why-trackgenix">
                <h3>
                    WHY TRACKGENIX?
                </h3>
                <div class="container">
                    <img src="../assets/img-subheader1.png" width="300" />
                    <div class="txt">
                        <h4>
                            Subheader
                        </h4>
                        <p>
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the 
                            industry's standard dummy text ever since the 1500s.
                        </p>
                        <button class="button">
                            Learn more
                        </button>
                    </div>
                </div>
                <div class="container2">
                    <div class="txt">
                        <h4>
                            Subheader
                        </h4>
                        <p>
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the 
                            industry's standard dummy text ever since the 1500s.
                        </p>
                        <button class="button">
                            Learn more
                        </button>
                    </div>
                    <img src="../assets/img-subheader2.png" width="300" />
                </div>
                <div class="container">
                    <img src="../assets/img-subheader3.png" width="300" />
                    <div class="txt">
                        <h4>
                            Subheader
                        </h4>
                        <p>
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the 
                            industry's standard dummy text ever since the 1500s.
                        </p>
                        <button class="button">
                            Learn more
                        </button>
                    </div>
                </div>
                <div class="container2">
                    <div class="txt">
                        <h4>
                            Subheader
                        </h4>
                        <p>
                            Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the 
                            industry's standard dummy text ever since the 1500s.
                        </p>
                        <button class="button">
                            Learn more
                        </button>
                    </div>
                    <img src="../assets/img-subheader4.png" width="300" />
                </div>
            </section>
            <section class="contact">
                <span>
                    CONTACT US
                </span>
                <form class="contact-js">
                    <div class="verification">
                        <label for="name">
                            Name
                        </label>
                        <input id="name" type="name" placeholder="Insert your name">
                        <p>
                            Error message
                        </p>
                    </div>
                    <div class="verification">
                        <label for="email">
                        Email
                        </label>
                        <input id="email" type="email" placeholder="Insert your email">
                        <p>
                            Error message
                        </p>
                    </div>
                    <div class="category">
                        <label for="category">
                            Category:
                        </label>
                    </div>
                    <select name="category" id="category">
                        <option value="Human resources">
                            Human resources
                        </option>
                        <option value="Systems">
                            Systems
                        </option>
                        <option value="Marketing">
                            Marketing
                        </option>
                    </select>
                    <div class="verification">
                        <textarea cols="40" rows="8" id="comments" placeholder="Write us a message..." name="comments"></textarea>
                        <p>
                            Error message
                        </p>
                    </div>
                    <button type="submit" id="send-message">
                        Send Message
                    </button>
                    <button type="submit" id="btn-reset">
                        Reset
                    </button>                  
                </form>
            </section>
            <section class="get-in-touch">
                <div class="header">
                    <span>
                        TRACKGENIX
                    </span>
                </div>
                <div class="subtitle">
                    <h5>
                        Products
                    </h5>                    
                    <ol>
                        <li>
                            Features
                        </li>
                        <li>
                            Downloads
                        </li>
                        <li>
                            Integrations
                        </li>
                        <li>
                            Extras
                        </li>
                    </ol>
                </div>
                <div class="subtitle">
                    <h5>
                        Company
                    </h5>                
                    <ol>
                        <li>
                            About us
                        </li>
                        <li>
                            Clients
                        </li>
                        <li>
                            Resources
                        </li>
                        <li>
                            Blog
                        </li>
                    </ol>
                </div>
                <div class="subtitle">
                    <h5>
                        Support
                    </h5>                
                    <ol>
                        <li>
                            Help
                        </li>
                        <li>
                            Tutorials
                        </li>
                        <li>
                            API
                        </li>
                        <li>
                            Contact
                        </li>
                    </ol>
                </div>
            </section>
        </main>
        <footer>
            <a target="_blank" href="https://www.twitter.com">
                <img src="../assets/twitter-logo.png" width="25" />
            </a>
            <a target="_blank" href="https://www.linkedin.com">
                <img src="../assets/linkedin-logo.png" width="25" />
            </a>
            <a target="_blank" href="https://www.github.com">
                <img src="../assets/github-logo.png" width="25" />
            </a>
            <a target="_blank" href="https://www.instagram.com">
                <img src="../assets/instagram-logo.png" width="25" />
            </a>
            <a target="_blank" href="https://www.facebook.com">
                <img src="../assets/facebook-logo.png" width="25" />
            </a>
        </footer>
    </body>
</html>